code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: "Courier New";
  font-size: 18px;
}

button,
.button {
  margin-bottom: 0 !important;
  margin-right: .5rem;
  margin-left: 10px;
  margin-top: 8px;
  padding: 10px;
  font-size: 15px;
}

input{
  width: 100%;
}

.detail{
  height: 120px;
}

/* The navigation menu */
.nav {
  overflow: hidden;
  background-color: black;
}

/* Navigation links */
.nav a {
  float: left;
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

/* Contact Table style*/
.contactTable {
  position: relative;
  bottom: -50px;
}

.contactTable th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  border-collapse: collapse;
}

.contactTable td{
  font-weight: bold;
  font-style: oblique;
}

h5{
  font-size: 15px;
  font-style: italic;
}
.welcome{
  position: center;
  top: 128px;
  left: 56px;
  font-size: 18px;
  border: 3px solid black;
  padding: 10px;
  bottom: auto;
}

.logo{
  float: right;
  margin-left: 30px;
}

.aboutApp{
  margin: 30px;
  font-family: Verdana;
  text-align: justify;
}

p{
  margin-right: 80px;
  margin-left: 10px;
}

a{
  color: blue;
  font-weight: 700;
  font-style: italic;
}

